@function pi() {
    @return 3.14159265359;
}

@function deg-to-rad($angle) {
    @if unit($angle) == deg {
        $angle: $angle / 1deg;
    }

    @return 2 * pi() * $angle / 360;
}

@function rad-to-deg($angle) {
    $value: 180 * $angle / pi();

    @return $value;
}

@function pow($base, $exp) {
    $value: $base;

    @if $exp > 1 {
        @for $i from 2 through $exp {
            $value: $value * $base;
        }
    }

    @if $exp < 1 {
        @for $i from 0 through -$exp {
            $value: $value / $base;
        }
    }

    @return $value;
}

@function fact($n) {
    $fact: 1;
    @if $n > 0 {
        @for $i from 1 through $n {
            $fact: $fact * $i;
        }
    }
    @return $fact;
}

@function sqrt($r) {
    $x0: 1;
    $x1: $x0;

    @for $i from 1 through 10 {
        $x1: $x0 - ($x0 * $x0 - abs($r)) / (2 * $x0);
        $x0: $x1;
    }

    @return $x1;
}

@function sin($angle) {
    $angle: deg-to-rad($angle);
    $sin: $angle;

    @for $n from 1 through 10 {
        $sin: $sin + (pow(-1, $n) / fact(2 * $n + 1)) * pow($angle, (2 * $n + 1));
    }

    @return $sin;
}

@function cos($angle) {
    $angle: deg-to-rad($angle);
    $cos: 1;

    @for $n from 1 through 10 {
        $cos: $cos + (pow(-1, $n) / fact(2 * $n)) * pow($angle, 2 * $n);
    }

    @return $cos;
}

@function tan($angle) {
    @return sin($angle) / cos($angle);
}

$default_err: pi() / 14400;

@function asin($val, $e: $default_err) {
    $sum: 0;
    $sign: 1;
    $flag: 0;
    $i: 0;
    $c: 1;
    $j: 2 * $i + 1;

    @if abs($val) > sin(45deg) {
        $flag: 1;
        $sign: $val/abs($val);
        $val: sqrt(1 - pow($val, 2));
    }

    $term: $c * pow($val, $j) / $j;

    @while abs($term) > $e {
        $sum: $sum + $term;

        $i: $i + 1;
        $c: $c * (2 * $i - 1)/ (2 * $i);
        $j: 2 * $i + 1;

        $term: $c * pow($val, $j) / $j;
    }

    $result: $sign * ($flag * pi() / 2 + pow(-1, $flag) * $sum);

    @return $result / pi() * 180;
}

@function acos($val, $e: $default_err) {
    @return 90deg - asin($val, $e);
}

@function atan($val, $e: $default_err) {
    $val: $val / sqrt(1 + pow($val, 2));

    @return asin($val, $e);
}
